*.pyc
/Pods
**/xcuserdata/*
*.xcuserdatad
*.xcuserstate
*.xcworkspace
*.DS_Store
*~
/Valet.server/dist/*
/Valet.server/reports/*
/Valet.server/test_env/*
/Valet.server/valet.broker.egg-info/*
Podfile.lock
/Valet.android/user/app/build/*
/Valet.android/user/.gradle/*
/Valet.android/user/.idea/*
/Valet.server/.idea/*
/Valet.android/LocationProvider/app/build/*
/Valet.android/LocationProvider/.gradle/*
/Valet.android/LocationProvider/.idea/*
/Valet.server/.idea/*

